.grid {
  display: grid;
  gap: 1.25rem;
  box-sizing: content-box;

  @media screen and (min-width: 768px) {
    gap: 3.75rem;
    padding: 3.5rem 3rem;
    background-color: var(--greyLight);
    border-radius: 25px;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  }
}
